<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Laure Portfolio{% endblock %}</title>
    {% stylesheets
        'bundles/portfoliolaure/css/foundation/normalize.css'
        'bundles/portfoliolaure/css/foundation/foundation.css'
        filter="cssrewrite" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
    {% endstylesheets %}
    {% block stylesheets %}
        {% stylesheets
            'bundles/portfoliolaure/css/admin.sass'
            filter="sass, cssrewrite" output='css/admin.css' %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}
    {% endblock %}
</head>
<body>
    <div>
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="{{ path('ptf_admin_index') }}">Administration</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="not-click">
                        <a href="{{ path('workexperience') }}">work experience</a>
                    </li>
                    <li class="not-click">
                        <a href="{{ path('socialnetwork') }}">social network</a>
                    </li>
                    <li class="not-click">
                        <a href="{{ path('aboutintro') }}">about</a>
                    </li>
                    <li class="not-click">
                        <a href="{{ path("illustration") }}">illustration</a>
                    </li>
                    {#<li class="has-dropdown not-click">#}
                        {#<a href="{{ path('workexperience') }}">workexperience</a>#}
                        {#<ul class="dropdown">#}

                        {#</ul>#}
                    {#</li>#}
                </ul>
                <!-- Right Nav Section -->
                <ul class="right">
                    <li class="active"><a href="{{ path('fos_user_security_logout')}}">Déconnexion</a></li>
                </ul>
            </section>
        </nav>
    </div>
    <div class="large-12 columns admin-panel">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>