<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Laure Portfolio{% endblock %}</title>
        {% stylesheets
            'bundles/portfoliolaure/css/foundation/normalize.css'
            'bundles/portfoliolaure/css/foundation/foundation.css'
            filter="cssrewrite" %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
        {% block stylesheets %}
            {% stylesheets
                'bundles/portfoliolaure/css/style.sass'
                filter="sass, cssrewrite" output='css/style.css' %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div id="nav" class="row">
                <ul class="logo medium-3 columns">
                    <li>
                        <a href="#homepage">
                            <img src="{{ asset('bundles/portfoliolaure/images/logo/logo.png') }}" alt="logo">
                        </a>
                    </li>
                </ul>
                <ul class="nav medium-7 columns">
                    <li><a href="#portfolio">PORTFOLIO</a></li>
                    <li><a href="#illustration">ILLUSTRATIONS</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#workExperience">WORK EXPERIENCE</a></li>
                    <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>
        </header>
        <div class="scroll-area" data-spy="scroll" data-target="#nav">
            {% block body %}{% endblock %}
            <footer>
                <div class="row">
                    <div class="large-6 columns">
                        <h5>LOCATION</h5>
                        <p>
                            93100 Montreuil<br />France
                        </p>
                    </div>
                    <div class="large-6 columns">
                        <p>Laure</p>
                        <p>© 2014 LaureMJoy. All Rights Reserved</p>
                    </div>
                </div>
            </footer>
        </div>
        {% javascripts
            'bundles/portfoliolaure/js/jquery/jquery.js'
            'bundles/portfoliolaure/js/jquery/jquery.smooth-scroll.min.js'
            'bundles/portfoliolaure/js/magnify/jquery.magnify.js'
            'bundles/portfoliolaure/js/foundation/foundation/foundation.js'
            'bundles/portfoliolaure/js/bootstrap/carousel.js'
            'bundles/portfoliolaure/js/bootstrap/transition.js'
            'bundles/portfoliolaure/js/portfolio.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
