<div class="row">
    <div class="small-9 large-centered columns">
        <h2>CONTACT</h2>
        <p>
            You can contact me or just say hello !<br />i will answer to you
        </p>
        <form class="rowMarginLess">
            <div class="large-6 columns name">
                <div class="row collapse">
                    <div class="small-3 large-2 columns">
                        <span class="prefix"><i class="fa fa-user"></i></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        <input type="text" class="name" placeholder="Your name" />
                    </div>
                </div>
            </div>
            <div class="large-6 columns mail">
                <div class="row collapse">
                    <div class="small-3 large-2 columns">
                        <span class="prefix"><i class="fa fa-envelope-o"></i></span>
                    </div>
                    <div class="small-9 large-10 columns">
                        <input type="text" class="mail" placeholder="Your name" />
                    </div>
                </div>
            </div>
            <div class="large-12 columns text">
                <div class="row collapse">
                    <div class="small-3 large-1 columns">
                        <span class="prefix"><i class="fa fa-pencil-square-o"></i></span>
                    </div>
                    <div class="small-9 large-11 columns">
                        {#<input type="text" class="mail" placeholder="Your name" />#}
                        <textarea class="text"></textarea>
                    </div>
                </div>
                {#<textarea></textarea>#}
            </div>
            <div class="large-3 columns">
                <button>send</button>
            </div>
        </form>
    </div>
</div>
<div class="rowMarginLess follow">
    <div class="small-9 large-centered columns">
        <h2>FOLLOW ME</h2>
        <ul>
            <li>
                <a target="_blank" href="{{ render(controller('PortfolioLaureBundle:SocialNetwork:getSocialNetwork',
                { 'socialNetworkString': 'linkedin' })) }}">
                    <img src="{{ asset('bundles/portfoliolaure/images/follower/LinkedIn.png') }}" atl="linkedin_logo"/>
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ render(controller('PortfolioLaureBundle:SocialNetwork:getSocialNetwork',
                { 'socialNetworkString': 'vimeo' })) }}">
                    <img src="{{ asset('bundles/portfoliolaure/images/follower/Vimeo.png') }}" atl="vimeo_logo"/>
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ render(controller('PortfolioLaureBundle:SocialNetwork:getSocialNetwork',
                { 'socialNetworkString': 'twitter' })) }}">
                    <img src="{{ asset('bundles/portfoliolaure/images/follower/Twitter.png') }}" atl="twitter_logo"/>
                </a>
            </li>
            <li>
                <a target="_blank" href="{{ render(controller('PortfolioLaureBundle:SocialNetwork:getSocialNetwork',
                { 'socialNetworkString': 'pinterest' })) }}">
                    <img src="{{ asset('bundles/portfoliolaure/images/follower/Pinterest.png') }}"
                         atl="pinterest_logo"/>
                </a>
            </li>
        </ul>
    </div>
</div>