{% extends "::base.html.twig" %}

{% block body %}
    <div id="homepage" class="content rowMarginLess homepage flex">
        <img src="{{ asset('bundles/portfoliolaure/images/logo/logo.png') }}" alt="logo">
        <p>Graphic designer • illustrator • motion designer • web designer</p>
        <a class="goToPorfolio flex" href="#portfolio"><i class="fa fa-long-arrow-down"></i></a>
    </div>
    <div id="portfolio" class="content flex rowMarginLess portfolio">
        {{ render(controller('PortfolioLaureBundle:Portfolio:index')) }}
    </div>
    <div id="illustration" class="content flex rowMarginLess illustration">
        {{ render(controller('PortfolioLaureBundle:Illustration:show')) }}
    </div>
    <div id="about" class="content flex rowMarginLess about">
        {{ render(controller('PortfolioLaureBundle:About:index')) }}
    </div>
    <div id="workExperience" class="content flex rowMarginLess workExperience">
        {{ render(controller('PortfolioLaureBundle:WorkExperience:show')) }}
    </div>
    <div id="contact" class="content rowMarginLess contact">
        {{ render(controller('PortfolioLaureBundle:Default:contact')) }}
    </div>
{% endblock %}