{% extends '::baseAdmin.html.twig' %}

{% block content -%}
    <h4>Listes des travaux</h4>
    <a href="{{ path('portfolio_new') }}">
        Create a new entry
    </a>
    <table class="medium-12 columns">
        <thead>
            <tr>
                <th>Videolinkheader</th>
                <th>Title</th>
                <th>Type</th>
                <th>Description</th>
                <th>Descriptiondetail</th>
                <th>Videolink</th>
                <th>Sitelink</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.videoLinkHeader }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.type }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.descriptionDetail }}</td>
                <td>{{ entity.videoLink }}</td>
                <td>{{ entity.siteLink }}</td>
                <td>
                    <a href="{{ path('portfolio_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}