<div class="large-12 columns vimeo-player"
    {% if work.images[0].path %}
        style="background-image: url('/uploads/portfolio/{{ work.images[0].path }}');"
    {% endif %}>
</div>
<p class="large-12 columns description">
    {{ work.portfolioType }}<br />{{ work.description }}
</p>
<div class="image-content {{ work.portfolioType }} row">
    <div class="large-12 columns">
        <div class="large-6 columns image">
            <div class="image-color"
                {% if work.images[1].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[1].path }}');"
                {% endif %}></div>
        </div>
        <div class="large-3 columns image">
            <div class="image-color"
                {% if work.images[2].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[2].path }}');"
                {% endif %}></div>
        </div>
        <div class="large-3 columns image"></div>
    </div>
    <div class="large-12 columns">
        <div class="large-3 large-offset-3 columns image">
            <div class="image-color"
                {% if work.images[3].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[3].path }}');"
                {% endif %}></div>
        </div>
        <div class="large-6 columns image">
            <div class="image-color"
                {% if work.images[4].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[4].path }}');"
                {% endif %}></div>
        </div>
    </div>
    <div class="large-12 columns">
        <div class="large-6 columns second-image">
            <div class="image-color"
                {% if work.images[5].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[5].path }}');"
                {% endif %}></div>
        </div>
        <div class="large-3 columns image">
            <div class="image-color"
                {% if work.images[6].path %}
                    style="background-image: url('/uploads/portfolio/{{ work.images[6].path }}');"
                {% endif %}></div>
        </div>
        <div class="large-3 columns image"></div>
    </div>
</div>