{% extends '::baseAdmin.html.twig' %}

{% block content%}
    {{ render(controller('PortfolioLaureBundle:WorkExperienceNb:index')) }}
    <h4>Liste du Parcours Professionelles</h4>
    <a href="{{ path('workexperience_new') }}">Ajouter un nouveaux parcours</a>
    <table class="medium-12 columns" >
        <thead>
            <tr>
                <th>Company</th>
                <th>Type</th>
                <th>Yourjob</th>
                <th>Information</th>
                <th>Year</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.company }}</td>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.yourJob }}</td>
                    <td>{{ entity.information }}</td>
                    <td>{{ entity.year }}</td>
                    <td>
                        {% if entity.path is not empty %}
                            <ul class="small-block-grid-6 medium-block-grid-6">
                                <li>
                                    <img src="/uploads/workexperience/{{ entity.path }}" alt="{{ entity.company }}" />
                                </li>
                            </ul>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('workexperience_edit', { 'id': entity.id }) }}">editer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ render(controller('PortfolioLaureBundle:WorkExperienceCV:index')) }}
    {{ render(controller('PortfolioLaureBundle:WorkExperienceIntro:index')) }}
{% endblock %}