<div class="row">
    <div class="medium-6 column">
        <h3>Work experience</h3>
        {% for oneIntro in intro %}
            <p>{{ oneIntro.text }}</p>
        {% endfor %}
        <ul>
            <li>
                <a target="_blank"
                   href="{{ render(controller('PortfolioLaureBundle:SocialNetwork:getSocialNetwork',
                    { 'socialNetworkString': 'linkedin' })) }}"
                   class="linkedin">
                    View on linkedin
                </a>
            </li>
            <li>
                <a href="{{ path('laure_download_cv') }}" class="pdfCv"><i class="fa fa-download"></i> pdf version</a>
            </li>
        </ul>
    </div>
    {% if workExperiences is not empty %}
        <div class="medium-6 column">
            {% for date,experiences in workExperiences %}
                {% if loop.first %}
                    {% if date != "now"|date("Y") %}
                        <div class="date first"><span>{{ "now"|date("Y") }}</span></div>
                    {% endif %}
                {% endif %}
                {% for experience in experiences %}
                    <div class="experience{% if loop.last %} last{% endif %}">
                        <div class="rectangle"></div>
                        <div class="experienceLogo">
                            {% if experience.path is not empty %}
                                <img src="/uploads/workexperience/{{ experience.path }}"
                                    alt="{{ experience.company }}" />
                            {% endif %}
                        </div>
                        <div class="experienceContent">
                            <h3>
                                {{ experience.company }}
                                {% if experience.type is not empty %}
                                     ({{ experience.type }})
                                {% endif %}
                            </h3>
                            <p class="experienceType">{{ experience.yourJob }}</p>
                            <p class="experienceDate">{{ experience.information }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="date{% if loop.last %} last{% endif %}"><span>{{ date }}</span></div>
            {% endfor %}
        </div>
    {% endif %}
</div>