<div id="carousel-illustration" class="carousel slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% for illustration in illustrations %}
            <div class="item" data-slide="{{ loop.index - 1 }}">
                <img src="/uploads/illustration/{{ illustration.path }}"
                     alt="slide {{ loop.index }}"
                     data-magnify-src="/uploads/illustration/{{ illustration.path }}" />
                <div class="information-content">
                    <div class="information-carousel">
                        <h3>{{ illustration.type|upper }}</h3>
                        <p>{{ illustration.title|capitalize }}</p>
                        <p>{{ illustration.description|capitalize }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-illustration" role="button" data-slide="prev">
        <span class="arrow-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-illustration" role="button" data-slide="next">
        <span class="arrow-right"></span>
    </a>
</div>