{% extends '::baseAdmin.html.twig' %}

{% block content %}
    <h4>Liste de mes illustrations</h4>

    <table class="medium-12 columns">
        <thead>
            <tr>
                <th width="200">Type</th>
                <th width="200">Title</th>
                <th width="200">Description</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.type }}</td>
                    <td>{{ entity.title }}</td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <ul class="small-block-grid-6 medium-block-grid-6">
                            <li>
                                <img src="/uploads/illustration/{{ entity.path }}" alt="{{ entity.title }}" />
                            </li>
                        </ul></td>
                    <td>
                        <a href="{{ path('illustration_edit', { 'id': entity.id }) }}">edit</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('illustration_new') }}">
        Create a new entry
    </a>
{% endblock %}