{% set firstArray = ['large-6',
    'large-3 secondIllustration',
    'large-3 end',
    'large-3 end last'
] %}
{% set secondArray = ['large-3 end',
    'large-3 end last',
    'large-6',
    'large-3 secondIllustration'
] %}
{% set thirdArray = ['large-3 secondIllustration',
    'large-3 end',
    'large-3 end last',
    'large-6'
] %}
<div class="row">
    <h2>ILLUSTRATION</h2>
    <div class="illustration-content">
        <ul class="cover-close arrow row">
            {% set classIllustration = '' %}
            {% set nb = 0 %}
            {% set infoClass = '' %}
            {% for illustration in illustrations %}
                {% if nb is divisible by(4) or loop.first %}
                    {% set arrayClass = [firstArray, secondArray, thirdArray] %}
                    {% set classIllustration = random(arrayClass) %}
                    {% set nb = 0 %}
                {% endif %}
                {% set class = classIllustration[nb] %}
                {% if class == 'large-6' %}
                    {% set infoClass = 'infoIllustration' %}
                {% elseif class == 'large-3 secondIllustration' %}
                    {% set infoClass = 'information' %}
                {% endif %}
                {% if class != "large-3 end last" %}
                    <li class="{{ class }} columns">
                {% endif %}
                    {% if class == "large-3 end last" or class == 'large-3 end'%}
                        <div class="second shadow">
                    {% elseif class == 'large-3 secondIllustration' %}
                        <div class="shadow">
                    {% endif %}
                        <div class="imageIllustration {% if class == 'large-6' %}shadow{% endif %}"
                             data-id="{{ loop.index - 1 }}"
                             style="background-image: url('/uploads/illustration/{{ illustration.path }}');">
                            {% if infoClass == 'information' %}
                        </div>
                            {% endif %}
                        {% if class == 'large-6' or class == 'large-3 secondIllustration' %}
                            <div class="{{ infoClass }}">
                                <h3>{{ illustration.type|upper }}</h3>
                                <p class="first-info">{{ illustration.title|capitalize }}</p>
                                {% if class == 'large-3 secondIllustration' %}
                                    <p class="second-info">{{ illustration.description|capitalize }}</p>
                                {% endif %}
                            </div>
                            {% if infoClass  == 'infoIllustration' %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% if class == "large-3 end last" or class == 'large-3 end'%}
                        </div>
                    {% elseif class == 'large-3 secondIllustration' %}
                        </div>
                    {% endif %}
                {% if class != 'large-3 end' %}
                    </li>
                {% endif %}
                {% set nb = nb + 1 %}
            {% endfor %}
        </ul>
        {% include 'PortfolioLaureBundle:Partial:more.button.html.twig' %}
    </div>
    {% include 'PortfolioLaureBundle:Illustration:carousel.html.twig' %}
</div>