<h4>Liste des Feelings</h4>
<table class="medium-12 columns">
    <thead>
        <tr>
            <th>Name</th>
            <th>Percentage</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.percentage }}</td>
                <td>{{ entity.color }}</td>
                <td>
                    <a href="{{ path('aboutfeeling_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('aboutfeeling_new') }}">
    Create a new entry
</a>